 #links{
            margin-top: 0 auto;
            text-decoration: none;
            font-weight: bolder;
            display: flex;
        }
        .pic{
            width: 50%;
            text-align: 50%;
            
        }
         li{
            margin-top: 0 auto;
            text-decoration: none;
            text-align: center;
            list-style-type:none ;
        }
        a{
           text-decoration: none;
           font-weight: bolder;
           font-size: xx-large;
           margin-top: 20%;
           font-style: inherit;
        }
        #all{
            background-color: rgb(255, 255, 255);
            width: 100%;

        }
        #intro{
            text-align: center;
            font-size: larger;
            color: rgb(0, 0, 0);
            font-weight: bolder;

            
        }
